<h1>Add a new Band</h1>
<form action="/bands/new" method="post">
  <label for="band-name">Enter a new Band</label>
  <input id="band-name" type="text" name="band-name">
  <button type="submit" name="button">Submit Band</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/bands">View all bands</a></p>
