<h1>World Tour</h1>
<h3>Add a new Band:</h3>
<form action='/bands' method='post'>
  <label for='new-band'>Band Name</label>
  <input id='new-band' name='new-band' type='text'>
  <button type='submit'>Add Band</button>
</form>
