<h1>Add a new Band</h1>
<form action="/bands/new/success" method="post">
  <label for="new-band">Enter a new Band</label>
  <input type="text" name="new-band">
  <button type="submit" name="button">Submit Band</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/bands">View all bands</a></p>
